<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><tmpl_var name="pagetitle"></title>
	<link rel="StyleSheet" href="themes/<tmpl_var name="theme">/style.css" type="text/css" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta content="charset=iso-8859-1" />
</head>
<body bgcolor="<tmpl_var name="main_bgcolor">">
<br /><br /><br />
<div align="center">
	<table border="1" bordercolor="<tmpl_var name="table_border_dk">" cellpadding="0" cellspacing="0">
		<tr>
			<td>
			<table border="0" cellpadding="4" cellspacing="0" width="100%">
				<tr>
					<td align="left" background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="main_bgcolor">">
						<font color="red"><strong>Error<strong></font>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="<tmpl_var name="table_header_bg">">
				<div align="center">
					<table width="100%" bgcolor="<tmpl_var name="body_data_bg">">
						<tr>
							<td>
								<table bgcolor="<tmpl_var name="body_data_bg">" width="740" cellpadding="1">
									<tr>
										<td>
											<div align="center">
												<table border="0" cellpadding="4" cellspacing="0" width="90%">
													<tr>
														<td>
															<strong><tmpl_var name="message"></strong>
															<tmpl_if name="messages">
																<p><div align="left"><pre><tmpl_var name="messages"></pre></div></p>
															</tmpl_if>
															<tmpl_if name="link">
																<p>[<a href="<tmpl_var name="link">"><tmpl_var name="linklabel"></a>]</p>
															</tmpl_if>
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>