<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><tmpl_var name="pagetitle"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var name="_CHARSET">" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="stylesheet" href="themes/<tmpl_var name="theme">/css/dereferrer.css" type="text/css" />
	<meta http-equiv="refresh" content="<tmpl_var name="meta_refresh">"/>
</head>
<body>
<div id="inhalt">
<h1><tmpl_var name="pagetitle"> dereferrer</h1>
<p><img style="float:left" src="themes/<tmpl_var name="theme">/images/dereferrer/emblem.png"> forwarding to <a href="<tmpl_var name="url">"><tmpl_var name="url"></a></p>
</div>
</body>
</html>